@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --pale-blue:  hsl(225, 100%, 94%);
    --brigth-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue:  hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);    
    --f-family: 'Overpass', sans-serif;
    --f-size: 16px;                               
}